/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v48-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v48-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v48-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* play-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v20-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* play-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v20-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* base */

* *::after *::before {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --Primary-colors1: #ffffff;
  --Primary-colors2: #2b7fff;
  --Primary-colors3: #011c44;
  --Secondary-colors1: #4a4a4a;
  --Secondary-colors2: #747272;
  --Secondary-colors3: #011f4a;
  --Secondary-colors4: #ffd02b;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: 'Play', 'Roboto', sans-serif;
  color: var(--Primary-colors3);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--Primary-colors1);
}

section {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

/* header */
.header-container {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-height: 106px;
  max-width: 1440px;
  margin-bottom: 16px;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-height: 42px;
  gap: 240px;
}

.header-div {
  margin: 32px 100px;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1240px;
  max-height: 42px;
  align-items: center;
  justify-content: center;
}

.link-logo {
  flex-grow: 1;
  justify-content: flex-start;
  text-transform: capitalize;
  line-height: 0.95;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Play', sans-serif;
  color: var(--Primary-colors2);
}

.nav-ul {
  display: flex;
  justify-content: center;
}

.nav-ul {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  width: 100%;
  max-height: 21px;
  max-width: 525px;
  flex-grow: 1;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--Primary-colors3);
  font-size: 18px;
}

.nav-link:hover {
  color: var(--Primary-colors2);
  cursor: pointer;
}

.icons-header {
  display: flex;
  align-items: center;
  max-width: 160px;
  justify-content: space-between;
  margin: auto 0;
  height: 100%;
  max-height: 32px;
  flex-grow: 1;
  gap: 8px;
}

.icons-header-linker {
  width: 32px;
  height: 32px;
}

.modify-header-icons {
  fill: var(--Primary-colors3);
}

.modify-header-icons:active {
  fill: var(--Primary-colors1);
  cursor: pointer;
}

/* first section */
.main-section {
  width: 100%;
  max-width: 1240px;
  background-image: url('/images/Group\ 46196.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.container-first {
  margin-bottom: 126px;
  margin-left: 106px;
  width: 100%;
  height: 100%;
  max-height: 408px;
  max-width: 530px;
}

.content-sec {
  width: 100%;
  height: 100%;
  max-height: 265px;
  max-width: 529px;
  margin-bottom: 40px;
}

/* main text */
.above-text {
  margin: 0;
  padding-bottom: 16px;
  width: 100%;
  max-width: 199px;
  height: 21px;
  font-weight: 400;
  font-size: 18px;
}

.main-text {
  margin: 0;
  color: var(--Primary-colors2);
  line-height: 0.81;
  text-align: left;
  font-weight: 700;
  font-family: 'Play', 'sans-serif';
  font-size: 140px;
}

/* button */
.button-div {
  width: 100%;
  height: 100%;
  max-width: 238px;
  max-height: 103px;
}

.button-main {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100%;
  width: auto;
  max-width: none;
  max-height: 53px;
  padding: 16px 32px;
  white-space: nowrap;
  color: #fff;
  background-color: var(--Primary-colors2);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 14px;
  border-radius: 32px;
  border: 2px solid var(--Primary-colors2);
}

.button-main:hover {
  color: var(--Primary-colors3);
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
}

/* dop text */
.text-under-main {
  margin: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.5;
  max-width: 238px;
  width: 100%;
  height: 36px;
}

/* second section */
.section-we {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  height: 695px;
  margin-bottom: 176px;
}

.container-second {
  display: flex;
  gap: 32px;
}

.container-second-text {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  max-height: 456px;
}

.we-title {
  margin: 0 0 40px 0;
  text-align: left;
  font-family: 'Play', sans-serif;
  width: 100%;
  height: 100%;
  max-width: 529px;
  max-height: 148px;
  line-height: 1.15;
  font-weight: 700;
  font-size: 64px;
}

.we-titile-span-text {
  color: var(--Primary-colors2);
  font-weight: 700;
  font-family: 'Play', 'sans-serif';
  font-size: 64px;
}

.container-second-text > p:nth-of-type(1) {
  text-align: left;
  margin: 0 0 40px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  color: #011c44;
}

.container-second-text > p:nth-of-type(2) {
  text-align: left;
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7;
  color: #011c44;
}

.we-title-dop-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.7;
  letter-spacing: 0%;
  text-transform: capitalize;
}

.images-section {
  width: 100%;
  height: 100%;
  max-width: 499px;
  max-height: 695px;
}

.second-border-img {
  border-radius: 50%;
  overflow: hidden;
}

.second-div-img:nth-child(1) {
  display: flex;
  margin-bottom: 40px;
}

.second-div-img:nth-child(2) {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* third section */
.why-us {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1060px;
  height: 377px;
}

.section-title {
  padding-bottom: 48px;
  margin: 0;
  max-width: 432px;
  width: 100%;
  max-height: 148px;
  height: 100%;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.15;
  text-align: center;
  color: var(--Primary-colors3);
}

.section-textlow {
  margin: 0;
  line-height: 1.5;
  font-family: 'Play', sans-serif;
  color: var(--Primary-colors2);
  font-weight: 700;
  font-size: 64px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 56px;
}

.block-images {
  border-radius: 32px;
  height: 181px;
  background-color: white;
  flex-basis: calc((100% - 112px) / 3);
}

.content-block-images {
  display: flex;
  margin: 24px 32px;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 8px;
}

.content-block-images p {
  text-align: center;
  line-height: 1.333;
  margin: 0;
  font-family: 'Roboto';
}

.block-game-icons {
  fill: var(--Primary-colors2);
}

/* forth section */
.our-procedures {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto 96px auto;
}

.up-title {
  margin: 0;
  text-align: center;
  font-family: 'Play', sans-serif;
  color: var(--Primary-colors3);
  font-size: 64px;
  line-height: 1.15;
}

.low-title {
  color: var(--Primary-colors2);
}

.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.ul-images {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 0 0 1064px;
  width: 100%;
  gap: 40px 16px;
}

.ul-images li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 344px;
  border-radius: 32px;
  overflow: hidden;
}

.slider-button:hover {
  background-color: var(--Primary-colors2);
  fill: var(--Primary-colors1);
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  flex-shrink: 0;
  border-radius: 50%;
  fill: var(--Primary-colors3);
  border: 1px solid var(--Primary-colors3);
}

/* fiveth section */
.how-to-find-us {
  margin: 0 auto 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1059px;
  max-height: 602px;
}

.h2-hwfu {
  text-align: center;
  margin: 0;
  padding-bottom: 48px;
  width: 100%;
  height: 100%;
  max-width: 432px;
  max-height: 75px;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  text-align: center;
  color: var(--Primary-colors3);
}

.block-input {
  display: flex;
  text-align: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
  max-width: 1240px;
  gap: 32px;
}

.maps {
  width: 100%;
  border-radius: 32px;
  max-height: 480px;
  max-width: 605px;
  display: block;
}

.login-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../images/background-input.png');
  width: 100%;
  max-width: 422px;
  min-height: 482px;
  border-radius: 32px;
  background-color: var(--Primary-colors3);
}

.login-input > input:nth-of-type(n + 1) {
  margin: 0 32px 16px 32px;
}

.text-above-input {
  padding-top: 48px;
  /* padding-bottom: 32px; */
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;
  max-width: 274px;
  max-height: 52px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.text-above-input span {
  color: var(--Primary-colors2);
}

.only-input-and-undertext {
  display: flex;
  margin-top: 32px;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 310px;
  height: 100%;
  max-height: 301px;
}

.input-field {
  flex-shrink: 0;
  padding-left: 32px;
  height: 100%;
  max-height: 52px;
  font-weight: 600;
  border-radius: 32px;
  border: 1px solid var(--Secondary-colors2);
  background-color: transparent;
  color: white;
  outline: none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.input-field::placeholder {
  font-family: 'Roboto', sans-serif;
  line-height: 1.15;
  font-size: 13px;
  font-weight: 400;
  color: white;
  opacity: 1;
}

.input-field:focus,
.input-field:not(:placeholder-shown) {
  background-color: var(--Secondary-colors2);
  border: 1.5px solid var(--Secondary-colors2);
  box-shadow: 0 0 8px rgba(43, 127, 255, 0.25);
}

.input-field:focus::placeholder {
  color: transparent;
}

.button-input {
  margin: 0 auto -8px auto;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #fff;
  background-color: var(--Primary-colors2);
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 32px;
  border: 2px solid transparent;
}

.button-input:hover {
  color: var(--Primary-colors2);
  border: 2px solid var(--Primary-colors2);
  background-color: #fff;
  box-shadow: 0 4px 32px 0 rgba(43, 127, 255, 0.1);
  cursor: pointer;
}

.confidentiality-under-button {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 213px;
  max-height: 36px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--Secondary-colors2);
}

.confidentiality-link {
  color: var(--Secondary-colors2);
  font-weight: 400;
  text-decoration: underline 1px;
  font-family: 'Roboto', sans-serif;
}

/* footer nav */

footer {
  background-image: url('../images/background-footer.png');
  background-color: var(--Primary-colors3);
  padding: 56px 0;
}

.container-footer {
  display: flex;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
  text-transform: capitalize;
  line-height: 0.95;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  font-family: 'Play', sans-serif;
  color: var(--Primary-colors2);
}

.footer-menu,
.address-list {
  flex-grow: 1;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.address-link {
  color: var(--Secondary-colors2);
  font-style: normal;
  text-decoration: none;
}

.nav-link-footer {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.address-info {
  color: var(--Secondary-colors2);
  font-size: 16px;
  text-decoration: none;
}

.nav-link-footer:hover {
  color: var(--Primary-colors2);
}

.modify-footer-icons {
  fill: var(--Primary-colors1);
}
