@use 'utils/variables' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: none;
}

a {
  display: inline-block;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $bp-desktop) {
    padding: 0;
  }
}

html {
  background-color: var(--Primary-colors1);
}

body {
  position: relative;
  margin: 0;
  font-family: 'Play', 'Roboto', sans-serif;
  color: var(--Primary-colors3);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: transparent;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 700px;
    background-image:
      linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%),
      url('../images/background-main.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -1;

    @media screen and (max-width: $bp-desktop) {
      height: 490px;
      background-position: bottom;
    }

    @media screen and (max-width: 603px) {
      height: 405px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image:
        linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%),
        url('../images/background-main.jpg@2x.jpg');
    }
  }
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}