@use 'utils/variables' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: none;
}

a {
  display: inline-block;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: $bp-desktop) {
    padding: 0;
  }
}

html {
  background-color: var(--Primary-colors1);
}

body {
  position: relative;
  margin: 0;
  font-family: 'Play', 'Roboto', sans-serif;
  color: var(--Primary-colors3);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: transparent
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}