.text-accent {
  margin: 0;
  color: var(--Primary-colors3);
  font: 700 64px 'Play';
}

.text-brand {
   margin: 0;
   color: var(--Primary-colors2);
   font-size: 64px;
   font-weight: 700;
 }
 
 .text-uppercase {
   text-transform: uppercase;
 }