@use '../utils/variables' as *;

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  flex-grow: 1;
  backdrop-filter: (none);
  background: transparent;
  height: 100%;
  width: 100%;
  max-height: 106px;
  max-width: none;

  @media screen and (min-width: $bp-desktop) {
    flex-grow: 1;
    flex-shrink: 0;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.25);
  }

  &__container {
    position: relative;
    display: flex;
    max-height: 42px;
    flex-grow: 1;
    padding: 0 20px;
    width: 100%;


    @media screen and (min-width: $bp-desktop) {
      margin: 0 auto;
      flex: 0 0 auto;
      padding: 0;
      display: flex;
      width: 100%;
      max-width: 1240px;
      align-items: center;
      justify-content: center;
      gap: 243px;
    }

    &__nav {
      display: flex;
      flex-shrink: 1;
      flex-grow: 1;
      justify-content: space-between;
      max-height: 42px;
      gap: 0;


      @media screen and (min-width: $bp-desktop) {
        display: flex;
        flex-shrink: 1;
        flex-grow: 1;
        align-items: center;
        max-height: 42px;
        gap: 240px;
      }

      &__ul {
        display: none;

        @media screen and (min-width: $bp-desktop) {
          display: flex;
          align-items: center;
          gap: 8px;
          height: 100%;
          width: 100%;
          max-height: 21px;
          flex-grow: 1;
          justify-content: space-between;
        }

        &__link {
          text-decoration: none;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          color: var(--Primary-colors3);
          font-size: 18px;
          transition: color 0.25s, transform .25s;
        }

        &__link:hover {
          color: var(--Primary-colors2);
          cursor: pointer;
          transform: translateY(-5px) scale(1.040);
        }
      }

      &__burger {
        display: flex;
        width: 24px;
        height: 24px;
        fill: var(--Primary-colors2);
        background-color: transparent;
        border: 0;
        padding: 0;
        justify-content: end;
        transition: all .25s;

        @media screen and (min-width: $bp-desktop) {
          display: none;
        }

        &:hover {
          fill: var(--Primary-colors3);
        }
      }
    }

    &-icons {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        height: 100%;
        max-height: 32px;
        flex-grow: 1;
        gap: 32px;
      }

      &__icon {
        width: 32px;
        height: 32px;

        &__modify {
          display: flex;
          align-items: center;
          justify-content: center;
          fill: var(--Primary-colors3);
          transition: fill 0.5s, transform .25s;

          &:hover {
            fill: var(--Primary-colors1);
            transform: translateY(-5px) scale(1.04);
            cursor: pointer;
          }
        }
      }
    }
  }
}