@use '../utils/variables' as *;

.how-to-find-us {


  > .container {
    padding: 0;
  }

  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.2;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      font-weight: 700;
      line-height: 1.5;
      font-family: 'Play', sans-serif;
      margin-bottom: 48px;
    }

    :nth-child(1) {
      @media screen and (min-width: $bp-desktop) {
        text-align: center;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.5;
        font-family: 'Play', sans-serif;
      }

      text-align: center;
      font-size: 32px;
      font-weight: 500;
      font-family: 'Roboto',
      'sans-serif';
      line-height: 1.2;
      color: var(--Primary-colors2);
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 24px;
    align-items: stretch;
    align-items: center;
    padding: 0px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: row;
      margin: 0;
      column-gap: 32px;
      max-height: 480px;
      align-items: stretch;
      justify-content: center;
    }

    &__map {
      display: block;
      width: 100svw;
      height: 100%;
      min-height: 320px;
      border-radius: 0;
      overflow: hidden;

      @media screen and (min-width: $bp-desktop) {
        flex: 0 0 auto;
        border-radius: 32px;
        width: 605px;
        height: 481px;
      }

      iframe {
        border: 0;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
      }
    }

    &__input-container {
      display: flex;
      background-color: var(--Primary-colors3);
      width: 100%;
      max-width: 320px;
      padding: 32px 24px;
      border-radius: 32px;
      background-image: url('/images/background-input.png');

      @media screen and (min-width: $bp-mobile) {
        padding: 48px 56px;
        flex: 0 0 420px;
        max-width: 420px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }

      &__p {
        text-align: center;
        padding-bottom: 32px;
        margin: 0;
        color: var(--Primary-colors1);
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;

        @media screen and (min-width: $bp-desktop) {
          font-size: 22px;
        }
      }

      &__a {
        text-decoration: none;
        color: var(--Primary-colors2);
      }
    }
  }
}