@use '../utils/variables' as *;

.how-to-find-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 1060px;
  max-height: none;
  margin: 0 18px;

  @media screen and (min-width: $bp-desktop) {
    gap: 48px;
    max-height: 602px;
    margin: 0 auto 96px auto;
  }

  > :nth-child(1) {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.2;

    @media screen and (min-width: $bp-desktop) {
      font-size: 64px;
      font-weight: 700;
      line-height: 1.5;
      font-family: 'Play', sans-serif;
    }

    :nth-child(1) {
      text-align: center;
      font-size: 32px;
      font-weight: 500;
      font-family: 'Roboto', 'sans-serif';
      line-height: 1.2;

      @media screen and (min-width: $bp-desktop) {
        font-size: 64px;
        font-weight: 700;
        line-height: 1.5;
        font-family: 'Play', sans-serif;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 24px;
    align-items: stretch;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: row;
      margin: 0;
      column-gap: 32px;
      max-height: 480px;
      align-items: stretch;
    }

    &__map {
      display: block;
      flex: 1 1 auto;
      width: 100svw;
      height: 100%;
      min-height: 320px;
      border-radius: 0;
      overflow: hidden;

      @media screen and (min-width: $bp-desktop) {
        border-radius: 32px;
        max-width: none;
        width: auto;
        min-height: 480px;
      }

      iframe {
        min-height: inherit;
        border: 0;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
      }
    }

    &__input-container {
      display: flex;
      background-color: var(--Primary-colors3);
      width: 100%;
      flex: 0 0 420px;
      max-width: 420px;
      padding: 32px 24px;
      border-radius: 32px;
      background-image: url('/images/background-input.png');
      
      @media screen and (min-width: $bp-mobile) {
        padding: 48px 56px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }

      &__p {
        text-align: center;
        padding-bottom: 32px;
        margin: 0;
        color: var(--Primary-colors1);
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        font-family: 'Roboto', sans-serif;

        @media screen and (min-width: $bp-desktop) {
          font-size: 22px;
        }
      }

      &__a {
        text-decoration: none;
        color: var(--Primary-colors2);
      }
    }
  }
}