@use '../utils/variables' as *;

.main-section {
  position: relative;
  padding-top: 106px;
  margin-bottom: 205px;
  left: 0;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 700px;
    background-image:
      linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%),
      url('../images/background-main.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -1;

    @media screen and (max-width: $bp-desktop) {
      height: 490px;
      background-position: bottom;
    }

    @media screen and (max-width: 603px) {
      height: 405px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image:
        linear-gradient(94deg, #fff 9.65%, rgba(255, 255, 255, 0.85) 26.08%, rgba(255, 255, 255, 0.19) 52.74%, rgba(255, 255, 255, 0) 74.46%),
        url('../images/background-main.jpg@2x.jpg');
    }
  }

  @media screen and (max-width: $bp-desktop) {
    margin-bottom: 56px;
    left: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;

    @media screen and (min-width: $bp-desktop) {
      align-items: start;
      margin-bottom: 126px;
      width: 100%;
      height: 100%;
      max-height: 408px;
      max-width: 530px;
    }

    &__main-box {
      margin-bottom: 32px;

      @media screen and (min-width: $bp-desktop) {
        width: 100%;
        height: 100%;
        max-height: 265px;
        max-width: 529px;
        margin-bottom: 40px;
        font-size: 108px;
      }

      &__additional-text {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 12px;
        line-height: 1.5;

        @media screen and (min-width: $bp-desktop) {
          margin: 0;
          padding-bottom: 16px;
          width: 100%;
          max-width: 200px;
          max-height: 21px;
          font-size: 18px;
        }
      }

      &__main-text {
        line-height: .85;
        font-weight: 700;
        font-size: 54px;
        font-family: 'Play', sans-serif;
        text-align: center;
        margin: 0;
        color: var(--Primary-colors2);


        @media screen and (min-width: $bp-desktop) {
          line-height: 0.81;
          text-align: left;
          font-weight: 700;
          font-size: 140px;
          font-family: 'Play', sans-serif;
        }
      }
    }
  }
}


.button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 201px;

  @media screen and (min-width: $bp-desktop) {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 238px;
    max-height: 103px;
  }

  &__text-under-button {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    font-size: 11px;

    @media screen and (min-width: $bp-desktop) {
      font-size: 12px;
      line-height: 1.5;
    }
  }
}