@use '../utils/variables' as *;

.section-we {
  display: flex;
  justify-content: space-between;
  margin-bottom: 104px;
  position: relative;

  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 176px;
  }

  &__container {
    display: flex;
    gap: 32px;
    position: relative;
    margin-bottom: 100px;

    &__img-container {
      display: none;

      @media screen and (min-width: $bp-desktop) {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 500px;
        height: 695px;
      }

      .left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 327px;
        max-height: 327px;
        border-radius: 50%;
        overflow: hidden;
      }

      .right {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: 327px;
        max-height: 327px;
        border-radius: 50%;
        overflow: hidden;
      }
    }

    &__container-text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 100%;
      height: 100%;
      max-height: 456px;

      > :nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 16px;

        :nth-child(1),
        :nth-child(2) {
          text-align: left;
          margin: 0;
          font-size: 18px;
          font-weight: 400;
          font-family: 'Roboto', 'sans-serif';
          line-height: 1.2;
          color: var(--Primary-colors3);

          @media screen and (min-width: $bp-desktop) {
            font-size: 22px;
            line-height: 1.7;
          }
        }
      }

      .text-brand {
        font-family: 'Roboto', 'sans-serif';
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;

        @media screen and (min-width: $bp-desktop) {
          font: 700 64px 'Play', 'sans-serif';
        }
      }

      .text-accent {
        font-family: 'Roboto', 'sans-serif';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.2;
        flex-grow: 0;

        @media screen and (min-width: $bp-desktop) {
          font: 700 64px 'Play', sans-serif;
        }
      }

      &__dop-text {
        font: 600 22px 'Roboto';
        line-height: 1.7;
        letter-spacing: 0%;
        text-transform: capitalize;
      }

      &__span-text {
        color: var(--Primary-colors2);
        font-weight: 700;
        font-family: 'Play', 'sans-serif';
        font-size: 64px;
      }
    }
  }

  &__stars {
    position: relative;
    display: none;
    pointer-events: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      pointer-events: none;
    }

    &:nth-of-type(1) {
      top: 32px;
      right: 0;
      pointer-events: none;
    }

    &:nth-of-type(2) {
      right: 35px;
      top: 270px;
      pointer-events: none;
    }

    &:nth-of-type(3) {
      left: 121px;
      top: 336px;
      pointer-events: none;
    }
  }
}

.mobile-star {
  display: flex;
  position: absolute;
  bottom: -38px;
  right: 22px;
  width: 40px;
  height: 40px;

  @media screen and (min-width: $bp-desktop) {
    display: none;
  }
}