@use '../utils/variables' as *;

section#second-section {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    width: 100%;
    height: calc(100% + 400px);
    background-repeat: no-repeat;
    background-image: -webkit-image-set(url('../images/smooth-background.jpg') 1x,
        url('../images/smooth-background@2x.jpg') 2x);
    background-image: image-set(url('../images/smooth-background.jpg') 1x,
        url('../images/smooth-background@2x.jpg') 2x);
    background-position: center top;
    // background-size: contain;
    z-index: -1;

    @media screen and (min-width: $bp-tablet) {
      // background-size: contain;
    }

    @media screen and (min-width: $bp-desktop) {
      background-size: 100% 1440px;
    }
  }
}

.why-us {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-brand,
  .text-accent {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    padding-bottom: 48px;
    font-family: 'Roboto', sans-serif;

    @media screen and (min-width: $bp-desktop) {
      text-align: center;
      padding-bottom: 48px;
      font-size: 64px;
      font-weight: 700;
      font-family: 'Play', sans-serif;

    }
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 316px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      gap: 56px;
      max-width: none;
    }

    &__artcl {
      display: flex;
      gap: 40px;
      border-radius: 32px;
      height: 181px;
      background-color: var(--Primary-colors1);

      @media screen and (min-width: $bp-desktop) {
        border-radius: 32px;
        height: 181px;
        background-color: var(--Primary-colors1);
        flex-basis: calc((100% - 112px) / 3);
      }

      &__box {
        display: flex;
        margin: 24px 32px;
        align-items: center;
        align-content: center;
        flex-direction: column;
        gap: 8px;

        &__p {
          text-align: center;
          line-height: 1.333;
          margin: 0;
          font-family: 'Roboto';
        }
      }
    }
  }


  &__icons {
    fill: var(--Primary-colors2);
  }
}